
@{
    ViewBag.Title = "Zoo MANAGER";
}

<h2>Zoo Manager</h2>


<table class="table">
    <tr>
        <th>
            <p>@Html.ActionLink("List of Zoos", "Zoo")</p>
        </th>
        <th>
            <p>@Html.ActionLink("Animals", "Animals")</p>
        </th>
    </tr>
</table>
